#sddm
{	margin: 0;
	padding: 0;
	z-index: 30;}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: 12px/18px "CGOmegaRegular", Tahoma, Verdana, sans-serif; }

#sddm li a
{	margin: 0 1px 0 0;
	padding: 4px 4px;
	width: 50px;
	background: none;
	color: #FFF;
	text-decoration: underline;
	text-shadow:1px 1px 2px rgba(10,10,10,0.5);
	text-align: center;}

#sddm li a:hover
{	background: #41631A;}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #304B10;
	
	z-index:20}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 5px;
		width: auto;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: none;
		color: #2875DE;
		font: 12px/18px "CGOmegaRegular", Tahoma, Verdana, sans-serif;}

	#sddm div a:hover
	{	background: #41631A;
		color: #FFF}